body {
    background-image: url('food.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Make it responsive */
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    /* Hide overflowing content */
}

.nav-links {
    display: flex;
}

.navbar-item {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px;
}

.search-bar {
    margin-top: 10px;
}

#search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

#search-input:focus {
    outline: none;
    border: 2px solid #61dafb;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 5px;
    font-size: 16px;
}

.label {
    font-weight: bold;
}


.gradient-text {
    background: linear-gradient(90deg, rgb(7, 7, 7) 0%, rgba(252, 70, 107, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 16px;
    line-height: 1.4;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}
#dish-name,
#dish-origin,
#dish-ingredients,
#dish-instructions {
    font-size: 16px;
    line-height: 1.4;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;

    /* Add these properties for word wrapping */
    word-wrap: break-word;
    overflow-wrap: break-word;
}